# Kernel SVM

In [16]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score

## Loading Dataset

In [21]:
dataset = pd.read_csv("social_network_ads.csv", sep=",")
dataset.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [22]:
samples_count, features_count = dataset.shape
samples_count, features_count

(400, 3)

## Separating target column from dataset

In [23]:
target = dataset.iloc[:, -1].values
dataset = dataset.iloc[:, :-1].values

## Train & Test split

In [24]:
train_x, test_x, train_y, test_y = train_test_split(dataset, target, test_size=0.2, random_state=0)

## Feature Scaling

In [25]:
sc = StandardScaler()
train_x = sc.fit_transform(train_x)
test_x = sc.transform(test_x)

## Applying SVM

In [26]:
svm = SVC(kernel='rbf', random_state=0)
svm.fit(train_x, train_y)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=0, shrinking=True, tol=0.001,
    verbose=False)

## Accuracy of SVM

In [27]:
accuracy = accuracy_score(test_y, svm.predict(test_x))
print("%.2f" % accuracy)

0.95

## Prediction by using input data from user

In [28]:
age = input("Enter Age::")
estimated_salary = input("Enter Estimated Salary::")

Enter Age::23
Enter Estimated Salary::129876

In [29]:
user_sample_encoded = sc.transform([[age, estimated_salary]])
result = svm.predict(user_sample_encoded)
is_purchased = result[0]

In [30]:
if is_purchased:
    print("Purchased")
else:
    print("Not Purchased")

Purchased