# Logistic Regression

In [86]:
import pandas as pd 
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score

## Loading Dataset

In [62]:
dataset = pd.read_csv("social_network_ads.csv", sep=",")
dataset.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [56]:
samples_count, features_count = dataset.shape
samples_count, features_count

(400, 3)

## Separating target column from dataset

In [63]:
target = dataset.iloc[:, -1].values
dataset = dataset.iloc[:, :-1].values

## Train & Test split

In [64]:
train_dataset, test_dataset, train_target, test_target = train_test_split(dataset, target, test_size=0.2, random_state=0)

## Feature Scaling

In [68]:
sc = StandardScaler()
train_dataset = sc.fit_transform(train_dataset)
test_dataset = sc.transform(test_dataset)

## Logistic Regression Training

In [69]:
lr = LogisticRegression(random_state=0)
lr.fit(train_dataset, train_target)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

## Check Accuracy

In [70]:
predictions = lr.predict(test_dataset)
accuracy = np.sum(predictions==test_target) / float(len(test_target))
print('%.2f' % accuracy)

0.93

## Confusion Matrix
- It is used to specify correct and wrong predictions

In [87]:
cm = confusion_matrix(test_target, predictions)
cm

array([[57,  1],
       [ 5, 17]])

## Prediction by using input data from user

In [82]:
age = input("Enter Age::")
estimated_salary = input("Enter Estimated Salary::")

Enter Age::55
Enter Estimated Salary::234000

In [84]:
user_sample_encoded = sc.transform([[age, estimated_salary]])

In [85]:
result = lr.predict(user_sample_encoded)
is_purchased = result[0]

In [81]:
if is_purchased:
    print("Purchased")
else:
    print("Not Purchased")

Not Purchased